<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"><h1>ATech</h1></a>
        </div>
    </header>

    <main>
        <h2>Корзина</h2>
        {% if cart_items %}
            <ul class="cart-items">
                {% for item in cart_items %}
                    <li class="cart-item">
                        <div class="cart-item-image">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}">
                        </div>
                        <div class="cart-item-details">
                            <h3>{{ item.product.product_name }}</h3>
                            <p>Количество: {{ item.quantity }}</p>
                            <p>Цена за единицу: ${{ item.product.price|floatformat:2 }}</p>
                            <p>Общая цена: ${{ item.total_price|floatformat:2 }}</p>
                            <div class="quantity-controls">
                                <a href="{% url 'decrease_quantity' item.product.id %}" class="btn-quantity">-</a>
                                <span>{{ item.quantity }}</span>
                                <a href="{% url 'increase_quantity' item.product.id %}" class="btn-quantity">+</a>
                            </div>
                            <a href="{% url 'remove_from_cart' item.product.id %}" class="btn-remove">Удалить</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="cart-summary">
                <p>Итоговая сумма: <strong>${{ total_cart_price|floatformat:2 }}</strong></p>
                <a href="{% url 'checkout' %}" class="btn btn-primary">Оформить</a>
            </div>
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Продолжить покупки</a>
    </main>
</body>
</html>
