<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"><h1>ATech</h1></a>
        </div>
        <div class="search1">
            <div class="search-box">
                <form method="GET" action="{% url 'search_view' %}">
                    {% csrf_token %}
                    {{ search_form.as_p }}
                    <button type="submit">Искать</button>
                </form>
            </div>
        </div>
        <nav>
            <div class="header-buttons">
                <a class="cart-button" href="{% url 'view_cart' %}">Корзина</a>
                <button id="advanced-search-btn">Расширенный поиск</button>
            </div>
        </nav>
    </header>

    <main>
        <div id="advanced-search" style="display: none;">
            <h2>Расширенный поиск</h2>
            <form method="GET" action="{% url 'advanced_search' %}">
                {% csrf_token %}
                {{ advanced_search_form.as_p }}
                <button class="search-btn" type="submit">Искать</button>
            </form>
        </div>
        
        <h2>Корзина</h2>
        {% if cart_items %}
            <ul class="cart-items">
                {% for item in cart_items %}
                    <li class="cart-item">
                        <div class="cart-item-image">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}">
                        </div>
                        <div class="cart-item-details">
                            <h3>{{ item.product.product_name }}</h3>
                            <p>Количество: {{ item.quantity }}</p>
                            <p>Цена за единицу: ${{ item.product.price|floatformat:2 }}</p>
                            <p>Общая цена: ${{ item.total_price|floatformat:2 }}</p>
                            <div class="quantity-controls">
                                <a href="{% url 'decrease_quantity' item.product.id %}" class="btn-quantity">-</a>
                                <span>{{ item.quantity }}</span>
                                <a href="{% url 'increase_quantity' item.product.id %}" class="btn-quantity">+</a>
                            </div>
                            <a href="{% url 'remove_from_cart' item.product.id %}" class="btn-remove">Удалить</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="cart-summary">
                <p>Итоговая сумма: <strong>${{ total_cart_price|floatformat:2 }}</strong></p>
                <div>
                    <a href="{% url 'checkout' %}" class="btn btn-primary">Оформить</a>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Продолжить покупки</a>
                </div>
            </div>
        {% else %}
            <p>Ваша корзина пуста.</p>
            <a href="{% url 'home' %}" class="btn btn-secondary">Продолжить покупки</a>
        {% endif %}
    </main>
</body>
</html>
